@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

/* Center everything on the page */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #56a5e6 !important;
    text-align: center;
    font-family: 'Comic Neue', cursive !important;
    font-weight: 600;
}

/* Style for the question */
.question-container {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Style for the GIF */
.gif img {
    width: 600px; /* Fixed width */
    height: 400px; /* Fixed height */
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Button container */
.button-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

/* Video container */
.video-container {
    width: 100%;
    max-width: 560px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.video-container video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Button styling */
button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
    .gif img {
        width: 390px; 
        height: 260px; 
    }
    .question-container {
        font-size: 1.56rem; 
    }
    button {
        font-size: 1.3rem; 
        padding: 10.4px 20.8px; 
    }
    .video-container {
        max-width: 390px; 
    }
}

@media (max-width: 480px) {
    .gif img {
        width: 250px; 
        height: 200px; 
    }
    .question-container {
        font-size: 1.20rem; 
    }
    button {
        font-size: 1.25rem; 
        padding: 9.36px 18.72px; 
    }
    .button-container {
        flex-direction: column;
        gap: 15.6px;     
    }
    .video-container {
        max-width: 350px; 
    }
}

@media (max-width: 300px) {
    .gif img {
        max-width: 200px; 
        height: auto;
    }
    button {
        font-size: 1.25rem; 
        padding: 12.48px 24.96px;
    }
    .question-container {
        font-size: 1.00rem; 
    }
    .video-container {
        max-width: 250px; 
    }
}